.home{
    background:$home-color;
    .home__console{
        position: relative;
        background-color: black;
        margin: 1rem auto;
        padding: 10rem 15rem;
        top: 30%;
        height: 40vh;
        width: 35vw;
        font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
        font-size: 20rem;
        color: white;
    }
}

@media (max-width: $breakpoint-mobile) {
    .home {
      background-color: red;
    }
  }