* {
  font-family: "Raleway", sans-serif;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 0;
}
section h2 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-transform: capitalize;
  text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.2);
}
